/* Home */
.hero-section.dnd-section {
  padding-bottom: 0;
}

.blockquote {
  margin: 3rem 0 1.6rem auto;
  max-width: 40rem;
}

.module .label {
  margin-bottom: 0.8rem;
}

.panel {
  margin: 1.6rem 0 1.6rem 0;
  padding: 2.4rem;
  font-size: 1.6rem;
  background: #d9f4ff;
  width: 100%;
}

.panel p {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.stripe {
  display: block;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.stripe img {
  margin: 0 0.4rem;
}

.our-solutions {
  margin-bottom: 3.2rem;
}

@media (max-width: 767px){
  .hero .blockquote {
    max-width: none;
  }

  .blockquote {
    margin-left: 1rem;
  }
}