<aside class="blog-aside span4">
  <a href="{{ group.absolute_url }}"><img class="logo" src="{{ get_asset_url ("../images/scaling-clean-logo.png") }}" alt="Scaling Clean the Podcast" /></a>
  {% if show_sidebar_intro %}
    <div class="block block-blog-intro">
      <p>This show is a cross between NPR's <a href="https://www.npr.org/series/490248027/how-i-built-this" target="_blank">"How I Built This"</a> and The New York Times' <a href="https://www.nytimes.com/column/corner-office" target="_blank">"Corner Office"</a> series. We glean and curate usable tips from experienced cleantech leaders in a compact, rich 30 minutes.</p>
      <p><strong>Covering:</strong> Founder's journey, leadership lessons learned, change management, hiring & firing, advice for the next generation, and recruitment & retention.</p>
    </div>
  {% endif %}
  {% if content.post_body %}
    <div class="block block-guest">
      <div class="block__label">Guest</div>
      {% if content.widgets.podcast_settings.body.guest_name %}
      <h3>{{ content.widgets.podcast_settings.body.guest_name }}</h3>
      {% endif %} 
     {% if
      content.post_list_summary_featured_image %}
      <img
        class="host-img"
        src="{{ content.post_list_summary_featured_image }}"
      />
      {% endif %}
    </div>
  {% else %}
    <div class="block block-hosted-by">
      <h3 class="block__title">Hosted by Melissa Baldwin</h3>
      <img class="host-img img--round" alt="Melissa Baldwin" src="{{ get_asset_url ("../images/team/melissa.jpg")
      }}" />
      <p>
        Melissa Baldwin is the senior vice president of Tigercomm, a clean-economy
        marketing communications firm. She brings over 20 years of experience
        working with clients in manufacturing, renewable energy development, and
        environmental services.
      </p>
      <p>
        To schedule a guest, contact Clare Quirin at
        <a href="mailto:clare@tigercomm.us">clare@tigercomm.us</a>
      </p>
    </div>
  {% endif %} 
  <div class="block block-listen">
    <h3>Listen and Subscribe</h3>
      <ul class="platforms list--plain">
        <li>
          <a
            href="https://podcasts.apple.com/us/podcast/scaling-clean/id1611807534"
            class="social-links__icon social-links__icon--icon"
            target="_blank"
            rel="noopener"
            aria-label="Apple Podcasts"
          >
            <img
              src="{{ get_asset_url("../images/apple-podcasts.svg") }}"
              alt="Apple Podcasts logo"
            />
          </a>
        </li>
        <li>
          <a
            href="https://open.spotify.com/show/5YC4Q7AvD5pBAczxxN2Gov?si=b4f66f9aa9114f76"
            class="social-links__icon social-links__icon--icon"
            target="_blank"
            rel="noopener"
            aria-label="Spotify"
          >
            <img
              src="{{ get_asset_url("../images/spotify.svg") }}"
              alt="Spotify logo"
            />
          </a>
        </li>
        <li>
          <a
            href="https://music.amazon.com/podcasts/262d19cd-f7ef-4b33-99a0-ac12f23414c6/scaling-clean"
            class="social-links__icon social-links__icon--icon"
            target="_blank"
            rel="noopener"
            aria-label="Amazon Music"
          >
            <img
              src="https://www.tigercomm.us/hubfs/amazon%20music.png"
              alt="Amazon Music logo"
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.iheart.com/podcast/269-scaling-clean-93459605/"
            class="social-links__icon social-links__icon--icon"
            target="_blank"
            rel="noopener"
            aria-label="iHeart Radio"
          >
            <img
              src="https://www.tigercomm.us/hubfs/i.%20heart%20radio.jpg"
              alt="iHeart Radio logo"
            />
          </a>
        </li>
        <li>
          <a
            href="https://radiopublic.com/scaling-clean-WdmDML"
            class="social-links__icon social-links__icon--icon"
            target="_blank"
            rel="noopener"
            aria-label="Radio Public"
          >
            <img
              src="https://www.tigercomm.us/hubfs/radiopublic-wordmark-red@3x.png"
              alt="radiopublic-wordmark-red@3x"
              style="height: 25px"
              alt="Radio Public logo"
            />
          </a>
        </li>
        <li></li>
      </ul>
  </div>
  <div class="block block-this-week-in-cleantech">
    <h3>This Week in Cleantech</h3>
    <p>Catch the weekly roundup of the top five climate and clean energy stories in fifteen minutes or less</p>
    <a class="btn btn--small" href="/this-week-in-cleantech-podcast">Listen Now</a>
  </div>
</aside>
