<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Boilerplate - blog listing
  screenshotPath: ../images/template-previews/blog-index.png
-->
{% set template_css = "../../css/templates/blog.css" %}
{% extends "./layouts/base.html" %}

{% block body %}
<div class="body-container body-container--blog-index">

{% set hero_label = "Insights" %}
{% if !tag %}
{% set hero_title = "Clean Energy Blog by Tigercomm" %}
{% set hero_sub_title = "Expert Insights & Tips" %}
{% set show_archives = false %}
{% set show_topics = true %}
{% set show_recent = false %}
{% set show_authors = false %}
{% elif tag == "this-week-in-cleantech" %}
{% set hero_title = "This Week in Cleantech" %}
{% set hero_sub_title = "" %}
{% set hero_content = "This Week In Cleantech was designed as a weekly news roundup for busy “Cleantechers,” giving them top 5 stories they need to know in 15 minutes or less. Each week we discuss those stories, and briefly interview one of the journalists who produced that story. See our stream of interviews with top reporters from Bloomberg, The Wall Street Journal, Heatmap, Axios, Volts and more. " %}
{% elif tag == "cleantech-roundtables" %}
{% set hero_title = "Cleantech Roundtables" %}
{% set hero_sub_title = "" %}
{% set hero_content = "Twice a year, we host 3 roundtables, one of top cleantech journalists, another for the leading podcasters, and the third for investors with their fingers on the pulse of clean economy trends. Our industry-leading contacts enable us to provide insights that you won’t get anywhere else." %}
{% elif tag == "market-better" %}
{% set hero_title = '"Market Better"' %}
{% set hero_sub_title = "Series of long-form analysis" %}
{% set hero_content = "As the dominant firm in clean economy, our experts have authored a series of analyses defining trends and best practices.  Tigercomm experts are regular contributors to leading trade publications, enabling our analyses to be read by hundreds of leadership teams and corporate communicators." %}
{% elif tag == "scaling-clean-podcast" %}
{% set hero_title = "Scaling Clean Podcast" %}
{% set hero_sub_title = "the Podcast for Clean Economy CEOs, Investors and The People Who Advise Them" %}
{% set hero_content = "This podcast interviews leading clean economy leaders and investors for usable tips on building and managing teams. Topics include hiring, firing, career advice and how to build companies." %}
{% elif tag == "expert-interviews" %}
{% set hero_title = "Expert Interviews" %}
{% set hero_sub_title = "" %}
{% set hero_content = "As a firm at the intersection of marketing, public affairs and the clean economy, we’re in a position to spot new trends and ideas, and bring the people behind them to you in easy-to-follow formats." %}
{% elif tag == "leading-conference-talks" %}
{% set hero_title = "Leading Conference Talks" %}
{% set hero_sub_title = "" %}
{% set hero_content = "As “original cleantechers,” we’ve attended and played a role in nearly two decades of top trade shows. You can see our presentations here." %}
{% elif tag == "cleantech-basics" %}
{% set hero_title = "Cleantech Basics" %}
{% set hero_sub_title = "" %}
{% set hero_content = "For those who are new to cleantech, we give some basic information as an introduction to this exciting space." %}
{% else %}
{% set hero_title = tag.name %}
{% endif %}

{% include "../sections/hero.html" %}
<div class="content-wrapper">
  <div class="cta__border">
    <span data-aos="fade-down-right" data-aos-delay="150"></span>
    <span data-aos="fade-down-right" data-aos-delay="250"></span>
    <span data-aos="fade-down-right" data-aos-delay="350"></span>
  </div>
</div>
<div class="blog-post blog-listing content-wrapper content-wrapper--vertical-spacing">
  <div class="row-fluid">
    <div class="span8">
    <div class="blog-items">
    {% for content in contents %}
      <div class="blog-item">
        <div class="blog-item__header">
          <h2 class="blog-item__title"><a href="{{content.absolute_url}}">{{ content.name }}</a></h2>
          <p class="blog-item__author">by <a href="{{ group.absolute_url }}/author/{{ content.blog_post_author.slug }}">{{ content.blog_post_author.display_name }}</a> <span class="blog-item__published"> on {{ content.publish_date_localized }}</span> &#x2022; <span class="blog-item__reading-time">{{ content.post_body|wordcount|divide(300) }} min. read</span>
          {% if content.topic_list %}
            <div class="blog-item__topics">
                <span>Topics:</span>
                {% for topic in content.topic_list %}
                <a href="{{ group.absolute_url }}/tag/{{ topic.slug }}">{{ topic.name }}</a>{% if not loop.last %}<span class="sep"></span>{% endif %}
                {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="row-fluid blog-item__content">
          <div class="blog-item__excerpt span8">
            {#{{ content.post_list_content|safe }}#}
            {{ content.post_list_content | truncatehtml(160, '...', false) }}
            {% if content_group.show_summary_in_listing %}
              <a class="button button--xs" href="{{ content.absolute_url }}">Continue Reading</a>
            {% endif %}
            {% blog_social_sharing "blog_social_sharing" overrideable=False, label='Blog Social Sharing' %}
          </div>
          {% if content.post_list_summary_featured_image %}
            <div class="blog-item__image span4">
                <a href="{{content.absolute_url}}">
                  <img src="{{ content.post_list_summary_featured_image }}" alt="{{ content.name }}">
                </a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    </div>
      {% dnd_area "dnd_area"
        label="Main section",
        class=""
      %}
      {# Blog listings and pagination #}
      {% dnd_section
        vertical_alignment="TOP"
      %}
        {% dnd_column %}
          {% dnd_row %}
            {% dnd_module path="@hubspot/pagination" %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_section %}
    {% end_dnd_area %}
    </div>
    {% include "../sections/blog-sidebar.html" %}
  </div>
</div>
{% endblock body %}
