<!--
  templateType: page
  isAvailableForNewContent: true
  label: Contact
  screenshotPath: ../images/template-previews/contact.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
{% set template_css = "../../css/templates/contact.css" %}
{% set hero_title = "Contact" %}
{% set hero_content_wrapper_class = "hero--sm" %}
{% include "../sections/hero.html" %}
  <div class="content-wrapper">
  <div class="cta__border">
      <span data-aos="fade-down-right" data-aos-delay="150"></span>
      <span data-aos="fade-down-right" data-aos-delay="250"></span>
      <span data-aos="fade-down-right" data-aos-delay="350"></span>
    </div>
  </div>
  <div class="contact__content content-wrapper content-wrapper--vertical-spacing">
    <div class="row-fluid">
      <p>If you’re ready to work with the best clean economy communications team in the U.S., please contact us for a no-obligation introductory conversation. We enjoy meeting and learning about new companies, their solutions and the goals they want to achieve.</p>
    </div>
  </div>
  <div class="contact__content content-wrapper content-wrapper--vertical-spacing padding-t-0">
    <div class="row-fluid">
        <div class="span7 content-col">
        {% dnd_area "dnd_area"
          label="Main section",
          class="body-container body-container--contact"
        %}
        {% end_dnd_area %}
        </div>
        <div class="sidebar span5">
          <div class="block">
            <h3 class="h5">Address</h3>
            <h4 class="h6">HQ Washington D.C. Area</h4>
            <p>8609 Westwood Center Drive<br />
            Suite 110<br />
            Vienna, VA 22182</p>
         
            <h4 class="h6">West</h4>
            <p>Denver, CO</p>

            <h4 class="h6">Northeast</h4>
            <p>Brattleboro, VT & Pittsburg, PA</p>

            <h4 class="h6">Southeast</h4>
            <p>Tampa, FL & Parkersburg, WV</p>
          </div>
          <div class="block">
            <h3 class="h5">Phone</h4>
            <p>HQ Washington D.C. Area: 1-703-302-8390</p>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}
