<!--
  templateType: page
  isAvailableForNewContent: true
  label: Glossary
  screenshotPath: ../images/template-previews/blog-post.png
-->
{% module "hero" path="/tigercomm-2023/modules/hero" %}
{% module "cta" path="/tigercomm-2023/modules/cta" %}

{% extends "./layouts/base.html" %}

{% block body %}
  <div class="body-container body-container--glossary">
    {% if content.widgets.hero.body.title %}
      {% set hero_title = content.widgets.hero.body.title %}
    {% else %}
      {% set hero_title = content.title %}
    {% endif %}
    {% if content.widgets.hero.body.sub_title %}
      {% set hero_sub_title = content.widgets.hero.body.sub_title %}
    {% endif %}
    {% if content.widgets.hero.body.hero_label %}
      {% set hero_label = content.widgets.hero.body.hero_label %}
    {% endif %}
    {% if content.widgets.hero.body.content %}
      {% set hero_content = content.widgets.hero.body.content %}
    {% endif %}
    {% set hero_content_wrapper_class = "hero--sm" %}
    {% include "../sections/hero.html" %}

    <div class="content-wrapper">
      <div class="cta__border">
        <span data-aos="fade-down-right" data-aos-delay="150"></span>
        <span data-aos="fade-down-right" data-aos-delay="250"></span>
        <span data-aos="fade-down-right" data-aos-delay="350"></span>
      </div>
    </div>

    <div class="content-wrapper content-wrapper--vertical-spacing">
      <div class="row-fluid">
        <div class="span12">
          {% module_block module "module_1643834355274121" module_id=65360206359, overrideable=True, path="/tigercomm-2023/modules/glossary", per_widget_wrapper_html="", widget_name="Glossary", wrapping_html="", label="Glossary" %}
          {% end_module_block %}
        </div>
      </div>
    </div>

    {% if content.widgets.cta.body.enabled == true %}
      {% set cta_enabled = true %}
    {% else %}
      {% set cta_enabled = false %}
    {% endif %}
    {% if content.widgets.cta.body.title %}
      {% set cta_title = content.widgets.cta.body.title %}
    {% endif %}
    {% if content.widgets.cta.body.description %}
      {% set cta_description = content.widgets.cta.body.description %}
    {% endif %}
    {% if content.widgets.cta.body.button_label %}
      {% set cta_button_label = content.widgets.cta.body.button_label %}
    {% endif %}
    {% if content.widgets.cta.body.contact_type %}
      {% set cta_contact_type = content.widgets.cta.body.contact_type %}
    {% endif %}
    {% set cta_bg_dark = true %}
    {% include "../sections/cta.html" %}
  </div>
{% endblock body %}
