<!--
  templateType: page
  isAvailableForNewContent: true
  label: Success Story - Rondo
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./success-story.html" %}

{% set category = "Marketing Communications" %}
{% set category_url = "/services/marketing-communications" %}
{% set title = "Rondo Energy" %}
{% set sub_title = "Educating industry verticals on a revolutionary technology" %}
{% set challenge = "<p>Rondo Energy needed to accelerate and close sales for its breakthrough “heat batteries” that help heavy industries decarbonize and save money in the process. But the business media was heavily focused on green hydrogen as heavy industry’s solution, and Rondo’s revolutionary technology was so widely applicable that it had too many verticals to pursue at once. The company asked Tigercomm to help with market education to lower friction in the sales funnel.</p>" %}
{% set approach = "<p>We helped the company’s leadership align on critical details for its sales targets, prioritize the industries it wanted to pursue, and then refine its value proposition to match its targets’ pain points. We recognized that Rondo’s brilliant founder could be a prolific analyst and speaker, the natural evangelist for Rondo’s technology. We designed a three-track program that:</p>
<ol><li>Used Rondo’s original analyses to engage trade publications and podcasts to talk about how heat batteries could benefit companies in their industry.</li><li>Leverage resulting coverage in these niche publications to show heat batteries’ universal impact on heavy industries to secure briefings by the founder with national business media to stimulate interest in covering the company.</li>
<li>Combine those results in a pitch to high-profile speaking platforms.</li><ol>" %}
{% set results = "<ul><li>Rondo saw a steady stream of coverage and attention from high-value outlets, ranging from niche outlets such as Ethanol Magazine and the Volts podcast to national business coverage from Bloomberg, Wall Street Journal, and the Financial Times.</li>
<li>Founder secured a TED talk and a speaking slot at the World Economic Forum in Davos.</li>
<li>The company finished their first year with more leads than it could handle, with two of its size major project deals directly attributable to our work.</li></ul>" %}
{% set testimonial_author = "John O'Donnell" %}
{% set testimonial_author_title = "CEO, Rondo" %}
{% set testimonial = "Tigercomm captured our value proposition, then helped us deliver it to a global market. With their help, we’re tracking to exceed our sales goals this year." %}
{% set featured_coverage = "<ul><li>Bloomberg: <a href='https://www.bloomberg.com/news/articles/2023-03-06/fighting-climate-change-with-hot-bricks-factory-by-factory?utm_campaign=socialflow-organic&cmpid=socialflow-twitter-climate&utm_medium=social&utm_content=climate&utm_source=twitter&sref=9CfV7WKt' target='blank'>Fighting Climate Change With Hot Bricks, Factory by Factory</a></li>
<li>Financial Times: <a href='https://www.ft.com/content/7c6a0928-a233-4444-b294-297006270141' target='_blank'>An ‘embarrassingly simple’ solution for industrial emissions</a></li>
<li>Ethanol Magazine: <a href='https://ethanolproducer.com/articles/bringing-heat' target='_blank'>Bringing heat</a></li>
<li>Latitude Media: <a href='https://www.latitudemedia.com/news/excess-renewables-applications' target='_blank'>The excess renewables opportunity</a></li></ul>" %}