<!--
  templateType: page
  isAvailableForNewContent: true
  label: Services
  screenshotPath: ../images/template-previews/home.png
-->
{% set template_css = "../../css/templates/services.css" %}
{% extends "./layouts/base.html" %}

{% block body %}
  {% set hero_title = "Services" %}
  {% set hero_sub_title = "What Challenge Are You Facing?" %}
  {% set hero_content = '<p>Tigercomm is the U.S.’s top cleantech communications firm. For two decades, we’ve advanced marketing, PR and public affairs best practices for the clean economy, setting industry standards in the process. The result is a suite of four service offerings specifically designed for companies in your sector. But as a full-service agency, we’ve also helped companies meet dozens of high-stakes, unique challenges.</p>
  <p>Whatever the engagement, we design our work to meet goals, overcome barriers and produce results.</p>'%}
  {% include "../sections/hero.html" %}

  {% set testimonial_author = "Brian Lynch" %}
  {% set testimonial_author_title = "then-Director, Solar and Storage for LG Electronics" %}
  {% set testimonial = "Companies with the generic objective of increasing earned media impressions hire a PR firm. Cleantech leaders looking to solve a challenge or achieve a big goal hire Tigercomm." %}

  {% include "../sections/testimonials.html" %}

  {% set theme = "primary" %}
  {% set img_url = "/services/marketing-communications" %}
  {% set split_content_text = '<h3>Turbocharge your sales through better product marketing</h3>
  <p>A lot of clean economy companies offer B2B industrial goods and services to a limited pool of customers that don’t buy with a mouse click. But too many still use the legacy marketing approach that forces sales teams to do the early-stage customer education. But marketing research shows B2B customers start their “buyer’s journey” through online searches and content, before they’ll engage sales team members.</p><a href="/services/marketing-communications" class="anchor">Get Started <img src="{{ get_asset_url("../images/blue-arrow.svg") }}" /></a>' %}
  {% set split_content_img = "../images/services/turbo-tile.jpg" %}
  {% set img_caption = "B2B customers start their purchase decision through online search and content. We helped SaaS player Transect work with that reality to exceed commercial goals for a major trade show." %}
  {% include "../sections/split-content.html" %}

  {% set classname = "row--alt" %}
  {% set theme = "quinary" %}
  {% set img_url = "/services/thought-leadership" %}
  {% set split_content_text = '<h3>Narrate your company and executives to markets and investors</h3>
  <p>There are several points in a company’s growth when it’s crucial to narrate a company and its leadership team, not just its products. Whether you’re securing early-stage funding, building valuation for potential acquirers, or preparing for an IPO … we can help.</p>
  <a href="/services/thought-leadership" class="anchor">Get Started <img src="{{ get_asset_url("../images/blue-arrow.svg") }}" /></a>' %}
  {% set split_content_img = "../images/services/narrate-tile.jpg" %}
  {% set img_caption = "During our service to the world’s leading solar tracker maker, fast-growing Nextracker and CEO Dan Shugar have become one of the most influential companies in cleantech." %}
  {% include "../sections/split-content.html" %}
    
  {% set classname = "" %}
  {% set theme = "alt" %}
  {% set img_url = "/services/public-affairs" %}
  {% set split_content_text = '<h3>Secure fair treatment from policy makers</h3>
  <p>Clean economy companies are typically building new sectors within industries dominated by mature incumbents unwilling to relinquish market share. Instead, they weaponize lobbying and political influence to block the growth of clean economy challengers.</p>
  <a href="/services/public-affairs" class="anchor">Get Started <img src="{{ get_asset_url("../images/blue-arrow.svg") }}" /></a>' %}
  {% set split_content_img = "../images/services/secure-tile.jpg" %}
  {% set img_caption = "" %}
  {% include "../sections/split-content.html" %}

  {% set classname = "row--alt" %}
  {% set theme = "quaternary" %}
  {% set img_url = "/services/community-engagement" %}
  {% set split_content_text = '<h3>Win a community’s approval to build your project</h3>
  <p>Clean energy developers need support from local communities to build renewable energy infrastructure, such as wind and solar farms. But developers face increasingly project-fatal opposition from loud minorities of locals who organize online, then shout at local officials in the hearing room. We’ve pioneered and deployed community engagement strategies and digital best practices for developers to cut project risk and boost their ability to win the “social license” needed to secure permits from local officials.</p>
  <a href="/services/community-engagement" class="anchor">Get Started <img src="{{ get_asset_url("../images/blue-arrow.svg") }}" /></a>' %}
  {% set split_content_img = "../images/services/community-tile.jpg" %}
  {% set img_caption = "ROCKWOOL faced 8K opponents in a 55K-person county. Tigercomm designed and executed the community engagement plan that helped its proposed eco-insulation factory get built." %}
  {% include "../sections/split-content.html" %}

  {% include "../sections/cta.html" %}

{% endblock body %}
