<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Success Story
  screenshotPath: ../images/template-previews/home.png
-->
{% module "success_story_sectors" path="/tigercomm-2023/modules/sectors" %}
{% module "success_story_years" path="/tigercomm-2023/modules/years" %}

{% set template_css = "../../css/templates/success-story.css" %}
{% extends "./layouts/base.html" %}

{% block body %}
{% set success_story_v2 = false %}
{% if request.path == '/success-stories/rondo' %}
{% include "../sections/success-stories/rondo.html" %}
{% elif request.path == '/success-stories/lightsource-bp' %}
{% include "../sections/success-stories/lightsource-bp.html" %}
{% elif request.path == '/success-stories/nextracker' %}
{% include "../sections/success-stories/nextracker.html" %}
{% elif request.path == '/success-stories/nextpower-pittsburgh' %}
{% set success_story_v2 = true %}
{% include "../sections/success-stories/nextpower-pittsburgh.html" %}
{% elif request.path == '/success-stories/project-lucy' %}
{% set success_story_v2 = true %}
{% include "../sections/success-stories/project-lucy.html" %}
{% elif request.path == '/success-stories/nextpower-pv-mag-re-plus' %}
{% set success_story_v2 = true %}
{% include "../sections/success-stories/nextpower-pv-mag-re-plus.html" %}
{% elif request.path == '/success-stories/real' %}
{% include "../sections/success-stories/real.html" %}
{% elif request.path == '/success-stories/hemlock-semiconductor-ulcsa' %}
{% include "../sections/success-stories/hemlock-semiconductor-ulcsa.html" %}
{% elif request.path == '/success-stories/electric-power-engineers' %}
{% include "../sections/success-stories/electric-power-engineers.html" %}
{% elif request.path == '/success-stories/transect' %}
{% include "../sections/success-stories/transect.html" %}
{% elif request.path == '/success-stories/soluna' %}
{% include "../sections/success-stories/soluna.html" %}
{% elif request.path == '/success-stories/lg-solar' %}
{% include "../sections/success-stories/lg-solar.html" %}
{% elif request.path == '/success-stories/apex-clean-energy' %}
{% include "../sections/success-stories/apex-clean-energy.html" %}
{% elif request.path == '/success-stories/e-on' %}
{% include "../sections/success-stories/e-on.html" %}
{% elif request.path == '/success-stories/plus-power' %}
{% include "../sections/success-stories/plus-power.html" %}
{% elif request.path == '/success-stories/pvcase' %}
{% include "../sections/success-stories/pvcase.html" %}
{% elif request.path == '/success-stories/vestas' %}
{% include "../sections/success-stories/vestas.html" %}
{% elif request.path == '/success-stories/ausra' %}
{% include "../sections/success-stories/ausra.html" %}
{% elif request.path == '/success-stories/rockwool' %}
{% include "../sections/success-stories/rockwool.html" %}
{% elif request.path == '/success-stories/aes' %}
{% include "../sections/success-stories/aes.html" %}
{% elif request.path == '/success-stories/solarcity' %}
{% include "../sections/success-stories/solarcity.html" %}
{% elif request.path == '/success-stories/renew-financial' %}
{% include "../sections/success-stories/renew-financial.html" %}
{% elif request.path == '/success-stories/special-initiative-offshore-wind' %}
{% include "../sections/success-stories/special-initiative-offshore-wind.html" %}
{% elif request.path == '/success-stories/renewable-america' %}
{% include "../sections/success-stories/renewable-america.html" %}
{% endif %}
{% if success_story_v2 %}
<div class="container-fluid body-container body-container--success-story-v2">
  {% set hero_title = title %}
  {% set hero_sub_title = sub_title %}
  {% set hero_title_class = "success-story-v2__hero-title" %}
  {% set hero_label = "Success Story | " + "<a href=" + category_url + ">" + category + "</a>" %}
  {% set hero_img = "" %}
  {% if at_a_glance %}
  {% set hero_content = "<p class='success-story-v2__hero-summary'>" + at_a_glance + "</p>" %}
  {% endif %}
  {% include "../sections/hero.html" %}

  <div class="content-wrapper">
    <div class="cta__border">
      <span data-aos="fade-down-right" data-aos-delay="150"></span>
      <span data-aos="fade-down-right" data-aos-delay="250"></span>
      <span data-aos="fade-down-right" data-aos-delay="350"></span>
    </div>
  </div>

  {% if project_details or metrics %}
  <div class="success-story-v2__glance row--alt">
    <div class="content-wrapper content-wrapper--vertical-spacing--sm">
      <h2 class="h4 label">At A Glance</h2>
      {% if project_details %}
      <dl class="success-story-v2__details">
        {% for detail in project_details %}
        <div class="success-story-v2__detail">
          <dt>{{ detail.label }}</dt>
          <dd>{{ detail.value }}</dd>
        </div>
        {% endfor %}
      </dl>
      {% endif %}

      {% if metrics %}
      <div class="success-story-v2__metrics">
        {% for metric in metrics %}
        <div class="success-story-v2__metric">
          <div class="success-story-v2__metric-value">{{ metric.value }}</div>
          <div class="success-story-v2__metric-label">{{ metric.label }}</div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}

  <div class="success-story-v2__content content-wrapper content-wrapper--vertical-spacing">
    <div class="row-fluid">
      <div class="span7">
        {% if challenge %}
        <section class="success-story-v2__section">
          <h2>Challenge</h2>
          {{ challenge }}
        </section>
        {% endif %}
        {% if strategy %}
        <section class="success-story-v2__section">
          <h2>Strategy</h2>
          {{ strategy }}
        </section>
        {% endif %}
        {% if execution %}
        <section class="success-story-v2__section">
          <h2>Execution</h2>
          {{ execution }}
        </section>
        {% endif %}
        {% if results %}
        <section class="success-story-v2__section">
          <h2>Results</h2>
          {{ results }}
        </section>
        {% endif %}
      </div>
      <aside class="success-story-v2__media span5">
        {% if success_story_img_path %}
        <img src="{{ get_asset_url(success_story_img_path) }}" alt="{{ success_story_img_alt }}" />
        {% elif success_story_img %}
        <img src="{{ get_asset_url('../images/success-stories/' + success_story_img) }}" alt="{{ success_story_img_alt }}" />
        {% endif %}
        {% if success_story_img_caption %}
        <p class="success-story-img-caption">{{ success_story_img_caption }}</p>
        {% endif %}
        {% if success_story_img_one %}
        <img src="{{ get_asset_url('../images/success-stories/' + success_story_img_one) }}" alt="" />
        {% endif %}
        {% if success_story_img_one_caption %}
        <p class="success-story-img-caption">{{ success_story_img_one_caption }}</p>
        {% endif %}
        {% if about_client %}
        <section class="success-story-v2__about-client">
          <h2 class="h4 label">About the Client</h2>
          {{ about_client }}
        </section>
        {% endif %}
      </aside>
    </div>
  </div>

  {% if featured_coverage %}
  <section class="success-story-v2__coverage content-wrapper">
    <h2>As Seen In</h2>
    {{ featured_coverage }}
  </section>
  {% endif %}

  {% if testimonial %}
  {% set testimonial_label = "Testimonial" %}
  {% include "../sections/testimonials.html" %}
  {% endif %}

  {% include "../sections/cta.html" %}
</div>
{% else %}
<div class="container-fluid body-container body-container--success-story">
  {% set hero_title = title %}
  {% set hero_sub_title = sub_title %}
  {% set hero_label = "Success Story | " + "<a href=" + category_url + ">" + category + "</a>" %}
  {% set hero_img = ""  %}
  {% include "../sections/hero.html" %}
  <div class="content-wrapper">
    <div class="cta__border">
      <span data-aos="fade-down-right" data-aos-delay="150"></span>
      <span data-aos="fade-down-right" data-aos-delay="250"></span>
      <span data-aos="fade-down-right" data-aos-delay="350"></span>
    </div>
  </div>
  <div class="success-story__content content-wrapper content-wrapper--vertical-spacing">
    <div class="row-fluid">
      <div class="span7">
        <div class="row-fluid">
          <div class="span-12">
          <h2>Approach</h2>
          {{ approach }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span-12">
            <h2>Challenge</h2>
            {{ challenge }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span-12">
            <h2>Results</h2>
            {{ results }}
          </div>
        </div>
      </div>
      <div class="span5">
        <img src="{{ get_asset_url('../images/success-stories/' + success_story_img)}}" />
        {% if success_story_img_one %}
        <img src="{{ get_asset_url('../images/success-stories/' + success_story_img_one)}}" />
        {% endif %}
        {% if success_story_img_one_caption %}
        <p class="success-story-img-caption">{{ success_story_img_one_caption }}</p>
        {% endif %}
        {% if success_story_img_two %}
        <img src="{{ get_asset_url('../images/success-stories/' + success_story_img_two)}}" />
        {% endif %}
        {% if success_story_img_two_caption %}
        <p class="success-story-img-caption">{{ success_story_img_two_caption }}</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% if testimonial %}
  {% set testimonial_label = "Testimonial" %}
  {% include "../sections/testimonials.html" %}
  {% endif %}
  {% if featured_coverage %}
   <div class="success-story__content content-wrapper content-wrapper--vertical-spacing">
    <div class="row-fluid">
      <div class="span-12">
        <h3>Featured Coverage</h3>
        {{ featured_coverage }}
      </div>
    </div>
   </div>
   {% endif %}
   {% include "../sections/cta.html" %}
</div>
{% endif %}
{% endblock body %}
