<!--
  templateType: page
  isAvailableForNewContent: true
  label: Team Member
  screenshotPath: ../images/template-previews/about.png
-->
{% set template_css = "../../css/templates/team-member.css" %}
{% extends "./layouts/base.html" %}

{% module "team_member_settings" path="/tigercomm-2023/modules/team-member" %}
{% module "hero" path="/tigercomm-2023/modules/hero" %}

{% block body %}

  {% if content.widgets.team_member_settings.body.display_name != '' %}
    {% set name = content.widgets.team_member_settings.body.display_name %}
  {% endif %}
  {% if content.widgets.team_member_settings.body.job_title != '' %}
    {% set title = content.widgets.team_member_settings.body.job_title %}
  {% endif %}
  {% if content.widgets.team_member_settings.body.linked_in_url != ''  %}
    {% set linked_in_url = content.widgets.team_member_settings.body.linked_in_url %}
  {% endif %}
  {% if content.widgets.team_member_settings.body.headshot.src != '' %}
    {% set img_url = content.widgets.team_member_settings.body.headshot.src %}
    {% set alt_text = content.widgets.team_member_settings.body.headshot.alt %}
  {% endif %}

  {% set hero_title = name %}
  {% set hero_sub_title = title %}
  {% set hero_label = '<a href="/team">Team</a>' %}
  {% set hero_content_wrapper_class = "hero--sm" %}
  {% include "../sections/hero.html" %}
    <div class="content-wrapper" data-test="{{ display_name }}">
    <div class="cta__border">
        <span data-aos="fade-down-right" data-aos-delay="150"></span>
        <span data-aos="fade-down-right" data-aos-delay="250"></span>
        <span data-aos="fade-down-right" data-aos-delay="350"></span>
      </div>
    </div>
    <div class="team-member__content content-wrapper content-wrapper--vertical-spacing">
    <div class="row-fluid">
      <div class="img-col span4">
        <div class="img-wrapper">
          {% if img_url %}
            <div class="featured-image">
              <img class="team-member__img" src="{{ img_url }}" alt="{{ alt_text }}"/>
            </div>
          {% endif %}
          {% if linked_in_url %}
          <a class="linkedin__icon" href="{{ linked_in_url }}"><img src="{{ get_asset_url('../images/linkedin.svg') }}" alt="linkedin" /></a>
          {% endif %}
        </div>
      </div>
      <div class="span8">
        {{ bio }}
      {% dnd_area "dnd_area"
        label="Main section",
        class=""
      %}

      {# Two column image left #}

      {% dnd_section
        vertical_alignment="TOP"
      %}
        {% dnd_module
          path="@hubspot/rich_text",
          html=""
          offset=0,
          width=12
        %}
        {% end_dnd_module %}
      {% end_dnd_section %}
    {% end_dnd_area %}




      </div>
    </div>
    </div>
{% endblock body %}
