.notification-bar {
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  overflow: hidden;
}

.notification-message {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.notification-message.active {
  display: block;
  opacity: 1;
}

.notification-bar p {
    font-size: 1.4rem;
    font-weight: bold;
}

.notification-bar a {
  color: inherit;
  text-decoration: underline;
}
