<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: Boilerplate - password prompt
  screenshotPath: ../../images/template-previews/password-prompt.png
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{# {% set pageTitle = "This page is private | Enter password" %} #}

{% block body %}
      <div class="content-wrapper content-wrapper--vertical-spacing">
      <div class="row-fluid">
      <div class="span12">
      <h1 class="h2">Password Required</h1>
    {% module "content"
      path="@hubspot/rich_text",
      html="<p class='password-label'>Please enter the password required to view this page.</p>"
    %}
    {% module "password_prompt"
      extra_classes="password-prompt",
      path="@hubspot/password_prompt"
    %}
    </div>
  </div>
</div>
{% endblock body %}
